  <div>
      <div class="bannerImage">
          <img class="bannerInnerImage" alt='banner-inner' src="assets/BannerCenterImage.png" />
      </div>
  </div>
  <div style="display: flex; flex-direction: column; width: 90%; text-align: center">
      <div style="width: 60%; position: relative">
          <img class="image" style="position: absolute " src="assets/circle.png" />
      </div>
      <h1 style=" color: #B09A40; font-size: 4vw; white-space: nowrap ">WHAT IS CLOUD CITY</h1>
      <div class="textDiv" style=" margin: 0 auto ">
          <h3 class="text">Cloud City metaverse an open-world adventure built for you.
              Journey across a vast and varied landscapes.
              Discover the community area together and play Games, explore NFT's.</h3>
      </div>
  </div>
  <div class="containerNFT"
      style=" display: flex; position: relative; width: 90%; justify-content: space-between">
      <div style=" position: relative; margin-top: 5% ">
          <img style=" width: 90% " src="assets/NFTone.png" />
          <img style=" width: 90%; position: absolute; left: 3%; top: -2% " src="assets/NFTborder.png" />
          <div style=" position: absolute; bottom: 11%; text-align: left; left: 10%; width: 77%">
              <h1 class="NFTtextHeading">PATCHES</h1>
              <h3 class="NFTtext">Buy land, build marvels, rent, earn & much more on The Cloud City Metaverse. The possibilities are endless.</h3>
          </div>
      </div>
      <div style=" position: relative; margin-top: 5% ">
          <img style=" width: 90% " src="assets/NFTtwo.png" />
          <img style=" width: 90%; position: absolute; left: 3%; top: -2% " src="assets/NFTborder.png" />
          <div style=" position: absolute ; bottom: 11% ; text-align: left ; left: 10% ; width: 77% ">
              <h1 class=" NFTtextHeading" >NFT'S</h1>
                  <h3 class="NFTtext">Almost all NFTs on The Cloud City are utility based. Own NFTs to have an edge over other citizens on the metaverse.</h3>
          </div>
      </div>
      <div style=" position: relative ; margin-top: 5% ">
          <img style=" width: 90% " src="assets/NFTthree.png" />
          <img style=" width: 90% ; position: absolute ; left: 3% ; top: -2% " src="assets/NFTborder.png" />
          <div style=" position: absolute ; bottom: 11% ; text-align: left ; left: 10% ; width: 77% ">
              <h1 class=" NFTtextHeading">GAMES</h1>
                      <h3 class="NFTtext">The only metaverse to host multiple AAA play to earn games in its eco-system. Everybody will get a chance to earn through games on our platform.</h3>
          </div>
      </div>
  </div>
  <div class="timeline" style =" margin-top: 3%">
      <div class="container left">
          <div class="content">
              <h2 class="leftContainerHeading">TOKEN LAUNCH</h2>
              <p class="leftText">Launch of both Astral and Cloud Shard and listing on different DEXs.</p>
          </div>
      </div>
      <div class="container right">
          <div class="content rightContainer">
              <h2 class="rightContainerHeading">NFT DROP</h2>
              <p class="rightText">Release of first set of NFTs that have a utility in the metaverse.</p>
          </div>
      </div>
      <div class="container left">
          <div class="content">
              <h2 class="leftContainerHeading">MARKETPLACE</h2>
              <p class="leftText">A dynamic marketplace will be launched where users can purchase and sell NFTs.</p>
          </div>
      </div>
      <div class="container right">
          <div class="content rightContainer">
              <h2 class="rightContainerHeading">PATCHES</h2>
              <p class="rightText">Land patches across Sector-1 will be released on the marketplace for purchase.</p>
          </div>
      </div>
      <div class="container left">
          <div class="content">
              <h2 class="leftContainerHeading">COMMUNITY AREA</h2>
              <p class="leftText">The Cloud City Community Area will be released for the public to interact with other citizens of the metaverse</p>
          </div>
      </div>
      <div class="container right">
          <div class="content rightContainer">
              <h2 class="rightContainerHeading">CLOUD GRAND PRIX</h2>
              <p class="rightText">GCP, the first game in the metaverse will be released for the public to play and earn on the metaverse</p>
          </div>
      </div>
  </div>