<nav class="navbar justify-content-between">
  <div class="left-nav d-flex">
    <div class="left-nav-img">
      <img class="logo" src="assets/navLogo.png" alt=""/>
    </div>
    <div class="left-nav-head">
      <a class="navbar-brand">About</a>
      <a class="navbar-brand">Roadmap</a>
      <a class="navbar-brand">FAQ's</a>
    </div>
  </div>
  <div class="right-nav">
    <div class="right-nav-body">
      <img class="file-arrow" src="assets/file_arrow_down.png" alt=""/>
      <p class="right-nav-desc">White Paper</p>
      <img class="file-arrow-color" src="assets/file_arrow_down-brown.png" alt=""/>
    </div>
  </div>
</nav>

<div class="banner">
  <img src="assets/BannerImage.png" alt="" class="bannerImage">
  <img src="assets/BannerCenterImage.png" alt="" class="bannerInnerImage"/>
</div>
<div class="text-container">
  <div class="heading-1-container">
    <img class="cirle circle-1" src="assets/circle.png" alt=""/>
    <h1 class="heading-1">WHAT IS CLOUD CITY</h1>
  </div>
  <div class="heading-2-container">
    <h3 class="heading-2">
      Cloud City metaverse an open-world adventure built for you. Journey across a vast and varied landscapes. Discover
      the community area together and play Games, explore NFT's.
    </h3>
  </div>
</div>
<div class="NFTContainer">
  <div class="NFT">
    <img class="NFT-image" src="assets/NFTone.png" alt=""/>
    <img class="NFT-border" src="assets/NFTborder.png" alt=""/>
    <div class=NFTtextContainer>
      <h1 class="NFTtextHeading">PATCHES</h1>
      <h3 class="NFTtext">Buy land, build marvels, rent, earn & much more on The Cloud City
        Metaverse. The possibilities are endless.</h3>
    </div>
  </div>
  <div class="NFT">
    <img class="NFT-image" src="assets/NFTtwo.png" alt=""/>
    <img class="NFT-border" src="assets/NFTborder.png" alt=""/>
    <div class=NFTtextContainer>
      <h1 class="NFTtextHeading">NFT'S</h1>
      <h3 class="NFTtext">Almost all MFTs on the cloud are utility based.
        Own NFTs to have an edge over other citizens on the metaverse.</h3>
    </div>
  </div>
  <div class="NFT">
    <img class="NFT-image" src="assets/NFTthree.png" alt=""/>
    <img class="NFT-border" src="assets/NFTborder.png" alt=""/>
    <div class=NFTtextContainer>
      <h1 class="NFTtextHeading">GAMES</h1>
      <h3 class="NFTtext">The only metaverse to host multiple AAA play to earn games in its eco-system.
        Everybody will get a chance to earn through games on our platform.</h3>
    </div>
  </div>
</div>
<div class="text-container">
  <div class="heading-1-container">
    <img class="cirle circle-roapmap circle-2" src="assets/circle.png" alt=""/>
    <h1 class="heading-1">ROAD MAP</h1>
  </div>
</div>
<div style="margin: 0 auto">
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h2 style="text-align: right; color: #b09a40;">TOKEN LAUNCH</h2>
        <p style="text-align: right;">Launch of both Astral and Cloud Shard and listing on different DEXs</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2 style="color: #b09a40;">NFT DROP</h2>
        <p>Release of first set of NFTs that have a utility in the metaverse</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2 style="text-align: right; color: #b09a40;">MARKETPLACE</h2>
        <p style="text-align: right;">A dynamic marketplace will be launched where users can purchase and sell NFTs</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2 style="color: #b09a40;">PATCHES</h2>
        <p>Land patches across Sector-1 will be released on the marketplace for purchase</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2 style="text-align: right; color: #b09a40;">COMMUNITY AREA</h2>
        <p style="text-align: right;">The Cloud City Community Area will be released for the public to
          interact with other citizens of the metaverse</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2 style="color: #b09a40;">CLOUD GRAND PRIX</h2>
        <p>GCP, the first game in the metaverse will be released for the public to play and earn on the metaverse</p>
      </div>
    </div>
</div>
<!--video code-->
<div class="video-cover">
  <div class="video-cover-desc">
    <img class="nft-cover" src="../assets/NFT.png" alt="">
    <img class="nft-border" src="../assets/NFTborder.png" alt="">
    <img class="play-button" src="../assets/playButton.svg" alt="">
  </div>
</div>

<!--FAQ CODE-->
<div class="text-container">
  <div class="heading-1-container">
    <img class="cirle circle-3" src="assets/circle.png" alt=""/>
    <h1 class="heading-1">FAQ</h1>
  </div>
</div>
<!--footer code-->
<div class="footer">
  <img class="footer-inner" src="assets/BannerCenterImage.png" alt=""/>
  <div class="icon-container">
    <img class="footer-icon" src="assets/facebook.png" alt=""/>
    <img class="footer-icon" src="assets/twitter.png" alt=""/>
    <img class="footer-icon" src="assets/youtube.png" alt=""/>
    <img class="footer-icon" src="assets/telegram.png" alt=""/>
  </div>
  <p class='copyRight'>The Cloud City Metaverse is registered with NARSUN Studios</p>
</div>
