html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
*.focus {
  outline: none;
}
.bannerImage {
  width: 100%;
  height: 90vh;
  background-image: url("../assets/BannerImage.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerInnerImage {
  position: absolute;
  left: 33%;
  top: 33%;
  width: 30%;
}
.banner {
  position: relative;
}
.navbar {
  height: 6rem;
  width: 100%;
  background-color: #0b1418;
}
.left-nav-head {
  display: flex;
  gap: 2rem;
}

.left-nav {
  margin-left: 10rem;
  gap: 2rem;
}
.right-nav {
  margin-right: 10rem;
}
.right-nav-desc {
  color: #FFFFFF;
  display: flex;
  margin-bottom: 0 !important;
  align-self: center;
}
.right-nav-body {
  /*height: 300px;*/
  padding: .5rem 1.3rem;
  background: #B09A40;
  position: relative;
  display: flex;
  gap: 0.8rem;
  border-radius: 1px;
  justify-content: center;
}
.right-nav-body:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  border-top: 14px solid #0b1418;
  border-right: 15px solid #B09A40;
  width: 0;
}
.file-arrow {
  width: 16%;
}
.file-arrow-color {
  display: none;
}
.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5% 0%;
}
.heading-1 {
  font-size: 4rem;
  color: #b09a40;
}
.heading-2 {
  font-size: 1.3rem;
  color: #0a1c26;
  margin-top: 2%;
}
.heading-2-container {
  width: 45%;
  margin: 0 auto;
}
img.cirle {
  width: 9%;
  margin: 0% 0% 0% 26%;
}
.NFTContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.NFT {
  position: relative;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}
.NFT-image {
  width: 80%;
}
.NFT-border {
  width: 80%;
  position: absolute;
  left: 8%;
  top: -2%;
}
a.navbar-brand {
  color: #5389a2 !important;
  font-size: 1.15rem;
}
.logo {
  width: 50%;
  align-self: center;
}
nav.navbar.justify-content-between {
  height: 5rem;
}
.button-container {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}
.button-image {
  position: absolute;
  left: 0;
}
.button-text-container {
  display: flex;
  flex-direction: row;
  position: absolute;
}
.NFTtextContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 11%;
  text-align: left;
  padding: 0% 5%;
  height: 100px;
  width: 80%;
  left: 10%
}
.NFTtextHeading {
  color: #ccb248;
  font-size: 1.5vw;
}
.NFTtext {
  color: #ffffff;
  margin: 2% 0%;
  font-size: 1vw;
  margin-left: -8px;
}
@media screen and (max-width: 1000px) {
  .heading-1 {
    font-size: 1.5rem;
  }
  .heading-2 {
    font-size: 0.8rem;
  }
  .heading-2-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  img.cirle {
    width: 14%;
    margin: 0% 0% 0% 13%;
  }
  .NFTContainer {
    flex-direction: column;
  }
  .NFTContainer {
    width: 100%;
  }
  .bannerImage {
    width: 100%;
    height: 50vh;
  }
  .bannerInnerImage {
    width: 60%;
    left: 21%;
  }
  /*for the navbar*/
  .left-nav-img {
    display: none;
  }
  .navbar {
    height: 3.5rem !important;
    flex-direction: column-reverse;
  }
  .left-nav {
    margin-left: 2rem;
    gap: 0.8rem;
  }
  .right-nav {
    margin-right: 1rem;
  }
  .left-nav-head {
    display: flex;
    gap: 0.8rem;
  }
  .navbar-brand {
    font-size: 12px !important;
  }
  .right-nav-desc {
    color: #b09a40;
    display: flex;
    font-size: 12px;
    margin-bottom: 0 !important;
    align-self: center;
    font-weight: bold;
  }
  .right-nav-body {
    /*height: 300px;*/
    padding: .3rem .3rem;
    background: #0b1418;
    position: relative;
    display: flex;
    gap: 0.8rem;
    border-radius: 1px;
    justify-content: center;
    border: 1px solid #b09a40;
    border-top-left-radius: 8px 9px;
    border-bottom-right-radius: 2px 2px;
  }
  .right-nav-body:before {
    display: none;
    content: '';
    position: absolute;
    top: -2%; left: -1%;
    border-top: 8px solid #0b1418;
    border-right: 8px solid #B09A40;
    width: 0;
  }
  .file-arrow {
    width: 12%;
    display: none;
  }
  .file-arrow-color {
    display: block;
    width: 12%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  img.cirle {
    width: 9%;
    margin: 0% 0% 0% 30%;
  }
  .NFTContainer {
    flex-direction: column;
  }
  .NFT-image {
    width: 40%;
  }
  .NFT-border {
    width: 40%;
    left: 29%;
  }
  .NFTContainer {
    width: 100%;
  }
  .bannerImage {
    height: 70vh;
  }
  .bannerInnerImage {
    left: 25%;
    top: 32%;
    width: 50%;
  }
  .left-nav {
    margin-left: 1.5rem;
    gap: 1rem;
  }
  .right-nav {
    margin-right: 1rem;
  }
  .left-nav-head {
    display: flex;
    gap: 1rem;
  }
  .navbar-brand {
    font-size: 16px !important;
  }
  .navbar {
    height: 5rem !important;
  }
  .right-nav-desc {
    color: #b09a40;
    display: flex;
    font-size: 14px;
    margin-bottom: 0 !important;
    align-self: center;
    font-weight: bold;
  }
  .right-nav-body {
    /*height: 300px;*/
    padding: .3rem .3rem;
    background: #0b1418;
    position: relative;
    display: flex;
    gap: 0.8rem;
    border-radius: 1px;
    justify-content: center;
    border: 1px solid #b09a40;
    border-top-left-radius: 8px 9px;
    border-bottom-right-radius: 2px 2px;
  }
  .right-nav-body:before {
    display: none;
    content: '';
    position: absolute;
    top: -2%; left: -1%;
    border-top: 8px solid #0b1418;
    border-right: 8px solid #B09A40;
    width: 0;
  }
  .file-arrow {
    width: 12%;
    display: none;
  }
  .file-arrow-color {
    display: block;
    width: 15%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  img.cirle {
    width: 7%;
    margin: 0% 0% 0% 33%;
  }
  .bannerImage {
    height: 70vh;
  }
  .bannerInnerImage {
    left: 32%;
    top: 32%;
    width: 40%;
  }
  .logo {
    width: 45%;
  }
  .left-nav {
    margin-left: 2rem;
    gap: 1rem;
  }
  .right-nav {
    margin-right: 2rem;
  }
  .left-nav-head {
    display: flex;
    gap: 1rem;
  }
  .navbar-brand {
    font-size: 16px !important;
  }
  .right-nav-desc {
    color: #b09a40;
    display: flex;
    font-size: 14px;
    margin-bottom: 0 !important;
    align-self: center;
    font-weight: bold;
  }
  .right-nav-body {
    /*height: 300px;*/
    padding: .3rem .3rem;
    background: #0b1418;
    position: relative;
    display: flex;
    gap: 0.8rem;
    border-radius: 1px;
    justify-content: center;
    border: 1px solid #b09a40;
    border-top-left-radius: 8px 9px;
    border-bottom-right-radius: 2px 2px;
  }
  .right-nav-body:before {
    display: none;
    content: '';
    position: absolute;
    top: -2%; left: -1%;
    border-top: 8px solid #0b1418;
    border-right: 8px solid #B09A40;
    width: 0;
  }
  .file-arrow {
    width: 12%;
    display: none;
  }
  .file-arrow-color {
    display: block;
    width: 15%;
  }


}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  img.cirle {
    width: 10%;
    margin: 0% 0% 0% 16%;
  }
  .bannerImage {
    height: 70vh;
  }
  .bannerInnerImage {
    left: 33%;
    top: 33%;
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  img.cirle {
    width: 9%;
    margin: 0% 0% 0% 22%;
  }
}
