<nav class="navbar justify-content-between">
  <div class="left-nav d-flex">
    <div class="left-nav-img">
      <img class="logo" src="assets/navLogo.png" />
    </div>
    <div class="left-nav-head">
      <a class="navbar-brand">About</a>
      <a class="navbar-brand">Roadmap</a>
      <a class="navbar-brand">FAQ's</a>
    </div>
  </div>
  <div>
    <div>
      <div class="paperContainer">
        <img src="assets/writePaper.png" class="respImage" />
        <img src="assets/file_arrow_down.png" class="arrowImage" />
        <p class="paperText">
          Write Paper
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="banner">
  <img src="assets/BannerImage.png" alt="" class="bannerImage">
  <img src="assets/BannerCenterImage.png" alt="" class="bannerInnerImage" />
</div>
<div class="container-fluid">
</div>
<div class="text-container">
  <img class="cirle" src="assets/circle.png" />
  <h1 class="heading-1">WHAT IS CLOUD CITY</h1>
  <div class="heading-2-container">
    <h3 class="heading-2">
      Cloud City metaverse an open-world adventure built for you. Journey across a vast and varied landscapes. Discover
      the community area together and play Games, explore NFT's.
    </h3>
  </div>
</div>
<div class="NFTContainer">
  <div class="NFT">
    <img class="NFT-image" src="assets/NFTone.png" />
    <img class="NFT-border" src="assets/NFTborder.png" />
    <div class=NFTtextContainer>
      <h1 class="NFTtextHeading">PATCHES</h1>
      <h3 class="NFTtext">Buy land, build marvels, rent, earn & much more on The Cloud City
        Metaverse. The possibilities are endless.</h3>
    </div>
  </div>
  <div class="NFT">
    <img class="NFT-image" src="assets/NFTtwo.png" />
    <img class="NFT-border" src="assets/NFTborder.png" />
    <div class=NFTtextContainer>
      <h1 class="NFTtextHeading">PATCHES</h1>
      <h3 class="NFTtext">Buy land, build marvels, rent, earn & much more on The Cloud City
        Metaverse. The possibilities are endless.</h3>
    </div>
  </div>
  <div class="NFT">
    <img class="NFT-image" src="assets/NFTthree.png" />
    <img class="NFT-border" src="assets/NFTborder.png" />
    <div class=NFTtextContainer>
      <h1 class="NFTtextHeading">PATCHES</h1>
      <h3 class="NFTtext">Buy land, build marvels, rent, earn & much more on The Cloud City
        Metaverse. The possibilities are endless.</h3>
    </div>
  </div>
</div>
<div class="text-container">
  <img class="cirle" src="assets/circle.png" />
  <h1 class="heading-1">ROAD MAP</h1>
  <div class="heading-2-container">
    <h3 class="heading-2">
      Cloud City metaverse an open-world adventure built for you. Journey across a vast and varied landscapes. Discover
      the community area together and play Games, explore NFT's.
    </h3>
  </div>
  <div class="button-container">
    <img src="assets/ButtonBorder.png" />
  </div>
</div>

<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>2017</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2016</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2015</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2012</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2011</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2007</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
</div>