/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "JosefinSans-Regular";
  src: local("JosefinSans-Regular"), url(./assets/fonts/JosefinSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "JosefinSans-semiBold";
  src: local("JosefinSans-semiBold"), url(./assets/fonts/JosefinSans-SemiBold.ttf) format("truetype");
}

.modal.show .modal-dialog {
  margin: 0 !important;
  transform: translate(35%,6%) !important
}

.modal-content {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
  height: 32rem !important;
  width: 57rem !important;
}

.modal-backdrop.fade.show {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1499px) and (max-width: 2100px) {
  .modal.show .modal-dialog {
    transform: translate(101%,6%) !important
  }
}


@media only screen and (min-width: 700px) and (max-width: 800px) {
  .modal.show .modal-dialog {
    transform: translate(4%,6%) !important
  }
  .modal-content {
    width: 46rem !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .modal.show .modal-dialog {
    transform: translate(11%,6%) !important
  }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .modal.show .modal-dialog {
    transform: translate(3%,18%) !important
  }
  .modal-content {
    width: 23rem !important;
  }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  .modal.show .modal-dialog {
    transform: translate(5%,18%) !important
  }
  .modal-content {
    width: 23rem !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  .modal.show .modal-dialog {
    transform: translate(5%,18%) !important
  }
  .modal-content {
    width: 30rem !important;
  }
}
