<div class="teamBannerDiv">
  <div class="teamBannerLogo">
    <p class="teamBannerLogo">TEAM BEHIND THE CLOUD CITY METAVERSE</p>
  </div>
</div>

<div class="container">
  <div class="row">
<!--    <div class="col-md-6">-->
<!--      <div class="teamBehind">-->
<!--        <img class="teamBehindCircle" src="assets/circle.png" alt="">-->
<!--        <p class="teamBehindDesc">TEAM BEHIND THE CLOUD CITY METAVERSE</p>-->
<!--      </div>-->
<!--    </div>-->
    <div class="col-md-12">
      <div class="teamBehindDetail">
        <p class="teamBehindDetailDesc">
          NARSUN Studios has been in the game development industry for the past 7 years.
          During this time, we have worked with clients from Hollywood, and have amassed a
          portfolio that speaks for itself: a portfolio comprising of 100+ games, including games
          with renowned sports leagues in the USA.
          The ensuing experience in the areas of both traditional
          gaming space, as well as, the crypto GameFI space has granted us a surefire edge over all other competition.
        </p>
        <p class="teamBehindDetailDesc">
          With the experience of our team members, who have been with us over the course
          of this 7 year-long journey, we are assured of our capabilities to put out the best
          possible product in the crypto space for everyone to enjoy and be a part of.
          Here is to The Cloud City Metaverse.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group1.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Ahsan Imtiaz</p>
          <p class="teamImageDesc2">CEO</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group11.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Umer Abbas</p>
          <p class="teamImageDesc2">Co-Founder</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group12.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Micheal Harvath</p>
          <p class="teamImageDesc2">Head Advisor</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group13.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Navera Emran</p>
          <p class="teamImageDesc2">Social Media Manager</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row contain">
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/Group24.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Kenneth joseph Goh</p>
          <p class="teamImageDesc2">Business Advisor</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group14.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Haider</p>
          <p class="teamImageDesc2">Lead Community Manager</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group18.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Aqsa Gafoor</p>
          <p class="teamImageDesc2">Content Producer |</p>
          <p class="teamImageDesc2">Community Manager</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group21.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Ghanva Azwar</p>
          <p class="teamImageDesc2">Marketing, PR, CM Specialist</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row contain">
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group26.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Subhan Wahid</p>
          <p class="teamImageDesc2">Associate Project Manager</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group25.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Hamza Raza</p>
          <p class="teamImageDesc2">Lead Game Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group17.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Usman Khan</p>
          <p class="teamImageDesc2">Lead VFX Compositor</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group2.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Zohair Hassan</p>
          <p class="teamImageDesc2">Lead Level Designer</p>
        </div>
      </div>
    </div>
    </div>
  <div class="row contain">
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group16.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Zahid Iqbal</p>
          <p class="teamImageDesc2">Level Designer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group6.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Ahsan Yasin</p>
          <p class="teamImageDesc2">3D Artist</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group7.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Abdullah Chaudary</p>
          <p class="teamImageDesc2">Concept Artist</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group15.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Usman Ahmad</p>
          <p class="teamImageDesc2">Lead UI/UX Artist</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row contain">
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group27.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Minhaj Durrani</p>
          <p class="teamImageDesc2">UI/UX Artist</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group28.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Zubda Shafi</p>
          <p class="teamImageDesc2">Game Designer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group20.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Farrukh</p>
          <p class="teamImageDesc2">Game Designer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group8.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Saqlain Abbas</p>
          <p class="teamImageDesc2">Front End Engineer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row contain">
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group29.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Shiza</p>
          <p class="teamImageDesc2">Game Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group3.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Abdul Wasay</p>
          <p class="teamImageDesc2">Game Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group4.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Ali Raza</p>
          <p class="teamImageDesc2">Game Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group9.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Qissa Batool</p>
          <p class="teamImageDesc2">Blockchain Engineer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row contain">
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group10.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Sohail Tahir</p>
          <p class="teamImageDesc2">Blockchain Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group30.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Ghazanfar Ali</p>
          <p class="teamImageDesc2">Quality Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group31.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Muhammad Hamza</p>
          <p class="teamImageDesc2">Quality Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="teamImageDiv">
        <img class="teamImage" src="assets/team/group32.png" alt="">
        <div class="teamImageContainer">
          <p class="teamImageDesc">Ayesha Seher</p>
          <p class="teamImageDesc2">Quality Engineer</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--footer code-->
<div class="footer">
  <img class="footer-inner" src="assets/BannerCenterImage.png" alt=""/>
  <div class="icon-container">
    <a href="https://facebook.com/cloudcitymeta" target="_blank">
      <img class="footer-icon" src="assets/facebook.png" alt=""/>
    </a>
    <a href="https://twitter.com/the_cloudcity" target="_blank">
      <img class="footer-icon" src="assets/twitter.png" alt=""/>
    </a>
    <a href="https://www.youtube.com/channel/UCQpgsknV6oXqJZDH5nWRaAA" target="_blank">
      <img class="footer-icon" src="assets/youtube.png" alt=""/>
    </a>
    <a href="https://discord.gg/JHcr7FEktZ" target="_blank">
      <img class="footer-icon" src="assets/Distort.svg" alt=""/>
    </a>
    <a href="https://t.me/TheCloudCityMetaverse" target="_blank">
      <img class="footer-icon" src="assets/telegram.png" alt=""/>
    </a>
  </div>
  <p class='copyRight'>The Cloud City Metaverse is registered with NARSUN Studios</p>
</div>
